{%  extends 'blog/base.html' %}

{% block content %}
                <h2 class="content-header text-uppercase">{{ page_title }}</h2>
                <hr>
                <div>
                    <p class="lead">
                        'Baked Beauties' is a blog about baked, mouth-watering goodies.
                        It aims to induce hunger and captivate foodies who enjoy freshly-baked, delicious cakes, muffins, and the like but will also actually provide recipes for people to try.
                        The site is be targeted toward people who have an interest in or are curious about the joy of baking!
                        <br>
                        <br>
                        Enjoy!
                    </p>
                </div>
{% endblock %}