{%  extends 'blog/base.html' %}

{% block content %}
                <h2 class="text-center mb-4">{{ page_title }}</h2>

                <div id="login-container" class="mb-5 centered-content text-center justify-content-center">
                    <form action="" id="login-form" class="needs-validation">
                        <fieldset class="shadow-effect">
                            <div class="mb-4">
                                <label for="username" class="form-label text-truncate w-100">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="prepend">@</span>
                                    <input type="text" class="form-control" id="username" aria-describedby="prepend" placeholder="Enter username" max-length="30" required>
                                    
                                    <div class="invalid-feedback">
                                        Please enter your username.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-4">
                                <label for="pwd" class="form-label text-truncate w-100">Password</label>
                                <input type="password" class="form-control" id="pwd" aria-describedby="note" required>

                                <div class="invalid-feedback">
                                    Please enter your password.
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" onsubmit="return form.checkValidity();">Send</button>
                        </fieldset>
                    </form>
                </div>
{% endblock %}